<html lang="en">

<head>
    <%- include('partials/header.ejs')  %>
    <title>Buat Pesanan</title>
</head>

<body>
    <div class="container">
        <%- include('partials/navbar.ejs') %>
        <section class="section">
            <h1 class="title">Buat Pesanan</h1>
            <form action="/menuusers/add/<%= menu.id %>" method="POST">
                <h2 class="subtitle"><%= menu.name %> </h2>
                <hp class="subtitle"><%= menu.description %> </p>
                    <label for="">Tanggal</label>
                    <input type="date" name="delivery_date">
                    <input type="submit" value="Tambah Pesanan">
            </form>
        </section>
</body>

</html>