<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/header.ejs')  %>
  <title>Menus</title>
</head>

<body>
  <div class="container">
    <%- include('partials/navbar.ejs') %>
    <section class="section">
      <div class="columns">
        <div class="column is-half">
          <form action="/menus" method="GET">
            <label class="label">Search </label>
            <input class="input" type="text" name="keyword" />
            <br />
            <br />
            <input class="button is-primary" value="Search" type="submit" />
          </form>
        </div>
      </div>

      <h1 class="title">Daftar Menu</h1>
      <div class="buttons">
        <a class="button is-outlined is-primary" href="/menus/add">Add</a>
      </div>
      <table class="table is-bordered is-fullwidth">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Menu Type</th>
          <th>Image</th>
          <th>Action</th>
        </tr>

        <% menus.forEach((menu, i) => { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= menu.name %></td>
          <td><%= menu.description %></td>
          <td><%= menu.price %></td>
          <td><%= menu.menu_type %></td>
          <td>
            <img src="<%= menu.img_url  %> " width="100" height="100" alt="" />
          </td>
          <td>
            <a href="/menus/delete/<%= menu.id %>">Edit</a> |
            <a href="/menus/delete/<%= menu.id %>">Delete</a>
          </td>
        </tr>
        <% }); %>
      </table>
    </section>
  </div>
</body>

</html>