<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/header.ejs')  %>
  <title>HomePage</title>
</head>

<body>
  <div class="container">
    <%- include('partials/navbar.ejs') %>
    <section class="section">
      <h1 class="title">Selamat Datang di HungryBox<%=  name ? ', ' + name + '.' : '.' %> </h1>
      <h2 class="subtitle">Pilih menu terbaik kami.</h2>
      <div class="container-grid">
        <% menus.forEach(menu => { %>
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="<%= menu.img_url %>" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= menu.name %></p>
                <p class="subtitle is-6"><%= formatRupiah(menu.price) %></p>
              </div>
            </div>
            <div class="content">
              <%= menu.description %>
              <hr>
              <div class="buttons">
                <a href="/menuusers/add/<%= menu.id  %> " class="button is-fullwidth is-primary">Pesan</a>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
    </section>
  </div>
</body>

</html>