<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
    />

    <title>HomePage</title>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menuusers">Daftar Pesanan</a></li>
        <li><a href="/menus">Daftar Menu</a></li>
      </ul>
    </nav>
    <section class="section">
      <h1 class="title">Selamat Datang di ...</h1>
      <h2 class="subtitle">Daftar Menu</h2>
      <table class="table is-striped is-bordered">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Menu Type</th>
          <th>Image</th>
          <th>Action</th>
        </tr>

        <% menus.forEach(menu => { %>
        <tr>
          <td><%= menu.id %></td>
          <td><%= menu.name %></td>
          <td><%= menu.description %></td>
          <td><%= menu.price %></td>
          <td><%= menu.menu_type %></td>
          <td>
            <img src="<%= menu.img_url  %> " width="100" height="100" alt="" />
          </td>
          <td>
            <a href="/menuusers/add/<%= menu.id %>">Pesan</a>
          </td>
        </tr>
        <% }); %>
      </table>
    </section>
  </body>
</html>
